@import 'core/mixins';
.subpage_header {
    width: 100%;
    position:relative;
    img {
        width:100%;
        object-fit: cover;
    }
    .header_content {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:3;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
    }

    h1 {
        font-family: 'Gilroy-Bold';
        color:white;
        font-size:rem(48);
    }
    .breadcrumb {
        display:flex;
        align-items:center;
        a {
            color:white;
            font-size:rem(14);
            text-decoration: none;
            &:not(:last-child) {
                &:after {
                    content:'/';
                    margin:0 rem(5);
                }
            }
            
        }
    }
}

.subpage_horizontal_nav {
    width:100%;
    background-color:rgba(#F1F2F3,.5);
    margin:rem(80) 0 rem(80);
}

.subpage_nav_container {
    display:flex;
    align-items:center;

    a {
        height:rem(50);
        padding:0 rem(20);
        display:flex;
        align-items: center;
        justify-content: center;
        color:#0F192B;
        text-decoration: none;
        background-color: white;
        border-radius:rem(30);
        margin-right:rem(10);
        font-weight: 600;

        &.active {
            color:white;
            background-color:#3B64B2;
        }
    }
}

.split_content_view {
    width:100%;
    display:flex;
    
    .content {
        width:50%;
        
        h3 {
            font-size:rem(30);
            font-family: 'Gilroy-Bold';
            color:#0F192B;
            margin-bottom:rem(40);
            position:relative;
            padding-top:rem(20);
            &:after {
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:rem(60);
                height:rem(4);
                background-color:#F79A42;
            }
        }

        p {
            color:rgba(#0F192B,.7);
            padding-bottom:rem(30);
        }

    }
    .media {
        width:50%;
        text-align: right;
    }
}

$colors:#6C8BC5,#5477BC,#3B64B2,#34589C,#2C4B85;

.timeline {
    width:100%;
    .item {
        width:100%;
        display:flex;
        align-items:center;
        margin-bottom:rem(50);
        position:relative;
        .year {
            position:relative;
            margin-right:rem(20);
            span {
                position:absolute;
                left:50%;
                top:50%;
                transform:translate(-50%, -50%);
                color:white;
                font-weight:500;
            }
        }
        @for $i from 1 through length($colors) {
            &:nth-child(#{length($colors)}n+#{$i}) {
                .year {
                    svg {
                        g {
                            fill:nth($colors, $i)
                        }
                    }
                }
            }
        }

        &:not(:last-child) {
                .year {
                    &:after {
                    content:"";
                    position:absolute;
                    left:rem(41);
                    top:100%;
                    width:rem(2);
                    height:rem(40);
                    background-color:#777B86;
                }
            }
        }

        
    }   
}

.pl_pr_60{
    padding-left: 60px;
    padding-right: 60px;
}

@media (max-width: 991.98px) { 

.subpage_header {
    height:rem(450);
    img {
        height:100%;
    }
}

.subpage_nav_container {
    display:flex;
    align-items:center;
    justify-content: center;
    a {
        height:rem(50);
        padding:0 rem(10);
        margin-right:rem(5);
        font-size:rem(12);
        &.active {
            color:white;
            background-color:#3B64B2;
        }
    }
}

.split_content_view {
    width:100%;
    display:flex;
    flex-direction: column;
    .content {
        width:100%;
        padding:0 rem(30);
    }
    .media {
        width:100%;
        text-align: center;
    }
}
}