@import 'core/mixins';
@import 'modules/subpage_header';



.subpage_horizontal_nav {
    width:100%;
    background-color:rgba(#F1F2F3,.5);
    margin:rem(80) 0 rem(80);
}

.subpage_nav_container {
    display:flex;
    align-items:center;

    a {
        height:rem(50);
        padding:0 rem(20);
        display:flex;
        align-items: center;
        justify-content: center;
        color:#0F192B;
        text-decoration: none;
        background-color: white;
        border-radius:rem(30);
        margin-right:rem(10);
        font-weight: 600;

        &.active {
            color:white;
            background-color:#3B64B2;
        }
    }
}

.contact_title {
    width:100%;
     h3 {
            font-size:rem(30);
            font-family: 'Gilroy-Bold';
            color:#0F192B;
            margin-bottom:rem(40);
            position:relative;
            padding-top:rem(20);
            &:after {
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:rem(60);
                height:rem(4);
                background-color:#F79A42;
            }
        }
}

.split_content {
    width:100%;
    display:flex;
    align-items: stretch;
    justify-content: space-between;

    .contact_content {
        width:49%;
        padding-bottom:rem(400);
        position:relative;
        .contact_box {
            width:80%;
            background-color:#F8F8F9;
            position:absolute;
            right:0;
            top:rem(350);
            padding:rem(20) rem(30) rem(40);

            &:after {
                content:"";
                width:rem(128);
                height:rem(5);
                background-color:#F79A42;
                position:absolute;
                top:0;
                left:rem(30);
            }

            &_left {
                right:initial;
                left:0;
                
            }

            .heading {
                padding:rem(15) 0;
                font-family: 'Gilroy-Bold';
                font-size:rem(24);
                border-bottom:rem(1) solid rgba(#777B86,.2);
            }

            .split_box {
                width:100%;
                display:flex;
                justify-content: space-between;
                margin-top:rem(20);
                div {
                    width:46%;
                    .title {
                        color:#3B64B2;
                        font-size:rem(10);
                        letter-spacing: 3.3px;
                        display:block;
                        padding-bottom:rem(15);
                        &_top {
                            margin-top:rem(20);
                        }
                    }
                    p {
                        opacity:.7;
                        font-size:rem(14);
                        line-height:rem(26);
                    }
                    a {
                        color:#0F192B;
                        font-size:rem(13);

                    }
                }
            }
        }

    }
}


