@import 'core/mixins';
@import 'modules/subpage_header';



.subpage_horizontal_nav {
    width:100%;
    background-color:rgba(#F1F2F3,.5);
    margin:rem(80) 0 rem(80);
}

.subpage_nav_container {
    display:flex;
    align-items:center;

    a {
        height:rem(50);
        padding:0 rem(20);
        display:flex;
        align-items: center;
        justify-content: center;
        color:#0F192B;
        text-decoration: none;
        background-color: white;
        border-radius:rem(30);
        margin-right:rem(10);
        font-weight: 600;

        &.active {
            color:white;
            background-color:#3B64B2;
        }
    }
}

.contact_title {
    width:100%;
     h3 {
            font-size:rem(30);
            font-family: 'Gilroy-Bold';
            color:#0F192B;
            margin-bottom:rem(40);
            position:relative;
            padding-top:rem(20);
            &:after {
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:rem(60);
                height:rem(4);
                background-color:#E30613;
            }
        }
}

.split_content {
    width:100%;
    display:flex;
    align-items: stretch;
    justify-content: space-between;

    .contact_content {
        width:49%;
        padding-bottom:rem(400);
        position:relative;

        iframe {
            width:100%;
            height:rem(400);
        }

        .contact_box {
            width:80%;
            height:rem(350);
            background-color:#F8F8F9;
            position:absolute;
            right:0;
            top:rem(320);
            padding:rem(20) rem(30) rem(40);

            &:after {
                content:"";
                width:rem(128);
                height:rem(5);
                background-color:#E30613;
                position:absolute;
                top:0;
                left:rem(30);
            }

            &_left {
                right:initial;
                left:0;
                
            }

            .heading {
                padding:rem(15) 0;
                font-family: 'Gilroy-Bold';
                font-size:rem(24);
                border-bottom:rem(1) solid rgba(#777B86,.2);
            }

            .split_box {
                width:100%;
                display:flex;
                justify-content: space-between;
                margin-top:rem(20);
                div {
                    width:46%;
                    .title {
                        color:#3B64B2;
                        font-size:rem(10);
                        letter-spacing: 3.3px;
                        display:block;
                        padding-bottom:rem(15);
                        &_top {
                            margin-top:rem(20);
                        }
                    }
                    p {
                        opacity:.7;
                        font-size:rem(14);
                        line-height:rem(26);
                    }
                    a {
                        color:#0F192B;
                        font-size:rem(13);

                    }
                }
            }
        }

    }
}

.contact {
    width:100%;
}

.form_layout {
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-bottom: rem(100);
    .form_content {
        width:60%;
    }
    .form_selection {
        width:30%;
    }

}

.form_body {
    margin-top:rem(50);
}
.field {
    max-width:rem(450);
    display: block;
    position: relative;
    margin-top: 24px;
    margin-bottom:rem(35);

    small {
        display:none;
    }

    &_error {
        small {
            display:inline-block;
            color:red;
        }
    }
}

.field__label {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  transform-origin: 0 0;
  transform: translate3d(0, 12px, 0);
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  transition: transform .2s;
  pointer-events: none;
}

.field__input {
  appearance: none;
  width: 100%;
  padding: 12px 0;
  border-bottom: solid rem(2) rgba(#777B86,.5);
  outline: none;  
  font-size: 16px;
  line-height: 20px;

  &::placeholder {
    color: transparent !important;
    user-select: none !important;
  }
}

.field__input:focus + .field__label,
.field__input:not(:placeholder-shown) + .field__label {
  transform: translate3d(0, -100%, 0) scale(0.875);
}

.field__input:focus {
    border-color: #E30613;
}

.field_select {
    max-width:rem(450);
    display: block;
    margin-bottom:rem(35);
    select {
        width:100%;
        border-bottom:solid rem(2) rgba(#777B86,.5);
        padding:rem(12) 0;
        font-size:rem(16);
    }

    small {
        display:none;
    }

    &_error {
        small {
            display:inline;
            color:red;
        }
       
    }
}

.send {
    background-color:#E30613;
    width:rem(170);
    color:white;
    font-weight:600;
    border:0;
    height:rem(50);
    border-radius:rem(40);
    margin-top:rem(30);
    cursor: pointer;
}

.form_select_grid {
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: rem(30);
    a {
        width:48%;
        height:rem(150);
        text-decoration: none;
        font-size:rem(12);
        padding:rem(20) rem(40) rem(20) rem(20);
        border-radius:rem(4);
        background-color:#3B64B2;
        font-weight:600;
        color:white;
        display:flex;
        flex-direction:column;
        margin-bottom: 2.5%;

        svg {
            margin-bottom: rem(15);
            g {
                fill: #E30613;
            }
        }

        img {
            margin-bottom: rem(15);
        }        
    }
}

@media (max-width: 991.98px) { 

.subpage_horizontal_nav {
   padding:0 rem(20);
}

.split_content {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction:column;
    //padding:rem(20);

    .contact_content {
        width:100%;
        padding-bottom:rem(300);
        position:relative;

        iframe {
            width:100%;
            height:rem(400);
        }

        .contact_box {
            width:100%;
            height:rem(350);
            background-color:#F8F8F9;
            position:absolute;
            right:0;
            top:rem(320);
            padding:rem(20) rem(30) rem(40);

            &:after {
                content:"";
                width:rem(128);
                height:rem(5);
                background-color:#E30613;
                position:absolute;
                top:0;
                left:rem(30);
            }

            &_left {
                right:initial;
                left:0;
                
            }

            .heading {
                padding:rem(15) 0;
                font-family: 'Gilroy-Bold';
                font-size:rem(24);
                border-bottom:rem(1) solid rgba(#777B86,.2);
            }

            .split_box {
                width:100%;
                display:flex;
                justify-content: space-between;
                margin-top:rem(20);
                div {
                    width:46%;
                    .title {
                        color:#3B64B2;
                        font-size:rem(10);
                        letter-spacing: 3.3px;
                        display:block;
                        padding-bottom:rem(15);
                        &_top {
                            margin-top:rem(20);
                        }
                    }
                    p {
                        opacity:.7;
                        font-size:rem(14);
                        line-height:rem(26);
                    }
                    a {
                        color:#0F192B;
                        font-size:rem(13);

                    }
                }
            }
        }

    }
}

.form_layout {
    width:100%;
    display:flex;
    justify-content: flex-start;
    flex-direction:column;
    margin-bottom: rem(100);
    padding:rem(20);
    .form_content {
        width:100%;
    }
    .form_selection {
        width:100%;
        margin-top:rem(40);
    }

}
}