@import 'core/mixins';
@import 'modules/subpage_header';


.story {
    width:100%;
    width:100%;
    display:flex;
    align-items: stretch;
    margin:rem(70) 0;
}

.story_picture_block {
    width:50%;
}
.story_content_block {
    width:50%;
    padding-right:rem(80);
    .comp {
        font-size:rem(11);
        color:#E30613;
        margin-bottom:rem(25);
    }
    h2 {
            font-size:rem(30);
            font-family: 'Gilroy-Bold';
            color:#0F192B;
            margin-bottom:rem(40);
            position:relative;
            padding-top:rem(20);
            &:after {
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:rem(60);
                height:rem(4);
                background-color:#E30613;
            }
        }

    p {
        color:rgba(#0F192B,.7);
        line-height: rem(28);

        strong {
            display:block;
            margin-top:rem(20);
        }
    }

    a {
        &.all {
            display: inline-block;
            padding:rem(10) rem(20);
            color:#0F192B;
            font-weight: 500;
            font-size:rem(15);
            margin-top:rem(40);
            border: rem(1) solid #777B86;
            border-radius: rem(25);
            text-decoration: none;
        }
    }
    img {
        margin-top:rem(40);
    }

    .products {

        padding:rem(25) 0;
        margin:rem(25) 0;
        border-bottom:rem(1) solid rgba(#0F192B,.3);
        border-top:rem(1) solid rgba(#0F192B,.3);

        h5 {
            font-size:rem(21);
            font-family:'Gilroy-Bold';
            margin-bottom:rem(20);
        }

        a {
            color:#E30613;
            font-size:rem(13);
            padding-right:rem(10);
            text-decoration: none;
        }

        
    }
}

.picture_relative {
    width:80%;
    position:relative;
    img {
        width:100%;
        position:relative;
        z-index:3;
    }

    &:after {
        content:"";
        width:calc(100% - 80px);
        height:100%;
        position:absolute;
        left:rem(40);
        top:rem(-20);
        background-color:rgba(#E30613,.1);
        z-index:2;
    }
    &:before {
        content:"";
        width:calc(100% - 80px);
        height:calc(100% - 30px);
        position:absolute;
        right:rem(-20);
        bottom:rem(-10);
        background-color:rgba(#E30613,.4);
        z-index:1;
    }
}

.testimonials_list {
    background-color:#F1F2F3;
    padding:rem(70) 0;
    h6 {
        font-family: 'Gilroy-Bold';
        font-size:rem(26);
        margin-bottom:rem(30);
    }
}

.testimonials_view {
    text-decoration: none;
    .img {
        width:100%;
        height:rem(210);
        overflow:hidden;
        border-top-left-radius: rem(8);
        border-top-right-radius: rem(8);

        img {
            width:100%;
            max-height:rem(210);
            object-fit: cover;
        }
    }
    .content {
        padding:rem(20);
        background-color:white;
        color: #0F192B;
        text-decoration: none;
        span {
            font-family: 'Gilroy-Bold';
            font-size:rem(21);
        }
        p {
            &.content_text {
                font-size:rem(13);
                padding:rem(15) 0;
            }
        }
        p {
            &.name {
                font-size:rem(13);
                strong {
                    display:block;
                }
            }
        }
    }
    
}
.dots {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  max-width:100vw;
  overflow: hidden;
  color:#777B86;
  font-size:rem(12);
  margin-top:rem(30);
  
}
.dots_container {
    display: flex;
    margin-left:rem(20);
}

.dot {
  border:0;
  width: rem(6);
  height: rem(6);
  background: rgba(#777B86,.3);
  border-radius: 50%;
  cursor: pointer;
  transition:all .2s;
  margin-left:rem(3);
}

.dot:focus {
  outline: none;
}

.dot.active {
  width:rem(22);
  border-radius:rem(30);
  background-color:#E30613;
}


@media (max-width: 991.98px) { 

    .story {
    
        align-items: flex-start;
        flex-direction: column-reverse;
        padding:0 rem(20);
    }

.story_picture_block {
    width:100%;
}
.story_content_block {
    width:100%;
    padding-right:0;
    img {
        margin-top:rem(40);
    }
    
}

.picture_relative {
    margin-top:rem(40);
    width:100%;
    position:relative;
    
}

.testimonials_list {
    
    padding:rem(70) rem(20);
    
}

}

 