@import 'core/mixins';

.about {
    width:100%;
    display:flex;
    align-items: stretch;
    margin:rem(70) 0;
}

.about_picture_block {
    width:50%;
}
.about_content_block {
    width:50%;
    padding-right:rem(80);
    background-image:url('/img/home/ghostlogo.png');
    background-repeat:no-repeat;
    background-size:calc(100% - 80px);
    background-position:bottom left;
    h2 {
        color:#0F192B;
        font-size:rem(36);
        font-family: 'Gilroy-Bold';
        max-width:rem(470);
        margin:rem(20) 0;
    }

    p {
        color:rgba(#0F192B,.7);
        line-height: rem(28);
    }

    a {
        display: block;
        color:#0F192B;
        font-weight: 500;
        font-size:rem(15);
        margin-top:rem(40);
    }
    img {
        margin-top:rem(40);
    }

    
}

.picture_relative {
    width:80%;
    position:relative;
    img {
        width:100%;
        position:relative;
        z-index:3;
    }

    &:after {
        content:"";
        width:calc(100% - 80px);
        height:100%;
        position:absolute;
        left:rem(40);
        top:rem(-20);
        background-color:rgba(#3B64B2,.1);
        z-index:2;
    }
    &:before {
        content:"";
        width:calc(100% - 80px);
        height:calc(100% - 30px);
        position:absolute;
        right:rem(-20);
        bottom:rem(-10);
        background-color:rgba(#E30613,.4);
        z-index:1;
    }
}

.title_badge {
    display: inline-flex;
    align-items: center;
    letter-spacing: rem(2.4);
    line-height:rem(24);
    padding-top:rem(2);
    background-color:#0F192B;
    border-radius:rem(30);
    padding:0 rem(20);
    color:white;
    font-size:rem(12);
    font-family: 'Gilroy-Bold';
}

@media (max-width: 991.98px) { 
    .about {
        align-items: flex-start;
        flex-direction:column;
        margin:rem(70) 0;
    }
    .about_picture_block {
        width:100%;
    }
    .picture_relative {
        width:90%;
        left:5%;
        &:after {
            left:-5%;
        }
    }

    .about_content_block {
        width:100%;
        padding:rem(30) rem(30);
        background-image:none;
    }

}