@import '../core/mixins';
.site_footer {
    width:100%;
    background-color:#0F192B;
    height:rem(575);
    padding:rem(90) 0;
    background-image: url('/img/footerbg.svg');
    background-repeat: no-repeat;
    background-position:bottom -180px right -200px;
}

.footer_wrapper {
    width:100%;
    display: flex;
}

.footer_left {
    width:60%;
}
.footer_right {
    width:40%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.footer_title {
    color:white;
    font-weight:600;
}

.footer_link_block {
    display:flex;
    align-items: flex-start;
    padding-top:rem(30);
    div {
        margin-right:rem(40);
        a {
            display: flex;
            color:white;
            text-decoration: none;
            font-size:rem(14);
            margin-bottom:rem(8);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.copyright {
    padding:rem(40) 0;
    font-size:rem(12);
    font-weight:600;
    color:white;
    opacity:.55;
}

.footer_tools {
    display:flex;
    align-items:center;

    img {
        margin-right:rem(10);
    }
}

.download {
    height:rem(66);
    padding:0 rem(40);
    border-radius:rem(3);
    color:white;
    text-decoration: none;
    border:rem(1) solid rgba(white,.2);
    font-size:rem(13);
    font-weight: 600;
    display: flex;
    align-items: center;
}

.footer_link {
    color:white;
    font-size:rem(13);
    font-weight: 600;
    margin-left:rem(20);
}

.adress_block {
    text-align: right;
    color:white;
    font-size:rem(13);
    margin-bottom:rem(30);
    span {
        font-weight:600;
        font-size:rem(16);
        text-align: right;
        display: block;
        padding-bottom:rem(10);
    }
}
.contact_links {
    margin-top:rem(50);
}
.email {
    color:white;
    display:flex;
    padding-top:rem(20);
    font-weight: 600;
    font-size:rem(13);
}

@media (max-width: 991.98px) { 
  .site_footer {
    height:auto;
    }
    .footer_wrapper {
        flex-direction:column;
        padding:0 rem(30);
    }

    .footer_left {
        width:100%;
    }
    .footer_right {
        width:100%;
        padding-top:rem(50);
    }
    .footer_title {
        text-align: center;
        width:100%;
        display:block;
    }
    .footer_link_block {
        flex-wrap:wrap;
        justify-content: space-between;
        div {
            margin-right:0;
            margin-bottom:rem(20);
            width:100%;
            display:flex;
            flex-wrap:wrap;
            justify-content: center;
            a {
                display: inline-flex;
                justify-content: center;
                text-align: center;
                margin-right:rem(10);
            }
        }
    }
    .footer_tools {
        width:100%;
        justify-content: center;
        flex-wrap:wrap;
    }
    .copyright {
        width:100%;
        text-align: center;
    }

    .download {
        margin:rem(30) 0;
    }
    .adress_block {
        text-align: center;
        span {
            text-align: center;
        }
    }
    .email {
        justify-content: center;
        width:100%;
    }
    .contact_links {
       width:100%;
    }
}