@import '../core/mixins';
.main_nav {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:11;
    padding:rem(30) 0;
    transition:all .3s;
    &_fix {
        background-color:rgba(#0F192B,.9);
    }
}
.nav_wrapper {
    width:100%;
    display:flex;
    align-items:center;
    padding:0 rem(30);
    position:relative;
}
.nav_logo {
    height:rem(30);
}

.nav_list {
    display:flex;
    align-items:center;
    padding-left:rem(25);
    ul {
        display: flex;
        li {
              a {
                text-decoration: none;
                cursor:pointer;
                span {
                    color:white;
                    font-size:rem(14);
                    font-family:'Gilroy-Bold';
                    margin-right:rem(25);
                }
            }
            &.active {
                    position:relative;
                    span {
                        color:#E30613;
                    }
                    &:after {
                        content:"";
                        width: 0; 
                        height: 0; 
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid white;
                        position:absolute;
                        left:14px;
                        bottom:rem(-28);
                        animation-name: example2;
                        animation-duration: .4s;
                    }
                }
        }
    }
  
}

.nav_layout {
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:9;
    background-color:rgba(#0F192B,.9);
    animation-name: example3;
    animation-duration: .4s;
}

.sub_menu {
    min-width:rem(700);
    height:auto;
    background-color:white;
    border-radius:rem(10);
    position:absolute;
    left:0;
    top:100%;
    margin-top:rem(20);
    display: flex;
    animation-name: example;
    animation-duration: .4s;
}

@keyframes example {
  from {opacity: 0; margin-top:rem(30)}
  to {opacity: 1;margin-top:rem(20);}
}
@keyframes example2 {
  from {opacity: 0; bottom:rem(-38)}
  to {opacity: 1;bottom:rem(-28);}
}
@keyframes example3 {
  from {opacity: 0; }
  to {opacity: 1;}
}

.submenu_image {
    max-width:rem(270);
    min-height:rem(400);
    object-fit: cover;
    border-top-left-radius: rem(10);
    border-bottom-left-radius: rem(10);
}
.sub_menu_content {
    width:calc(100% - 270px);
    padding:rem(20) rem(20) rem(20) 0;
    .sub_menu_title {
        font-family: 'Gilroy-Bold';
        font-size: rem(30);
        display:flex;
        margin-bottom:rem(15);
        padding-left:rem(20)
    }
    .sub_menu_grid {
        display: flex;
        align-items: stretch;
        max-width:calc(100vw - 400px);

        .sub_menu_block {
            padding:0 rem(20);
            &:not(:last-child) {
                border-right:rem(1) solid #F1F2F3;
            }
            .block_title {
                display:flex;
                align-items: center;
                font-family: 'Gilroy-Bold';
                font-size: rem(12);
                margin-bottom:rem(10);
                margin-top:rem(20);
                img {
                    margin-right:rem(5);
                    max-height:rem(15);
                }
            }
            a {
                display:block;
                opacity:.7;
                text-decoration: none;
                font-size:rem(12);
                padding-top:rem(3);
                color:#0F192B;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.toggle_mobile_menu {
    background-color:transparent;
    margin-left:auto;
}
.push_nav {
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:101;
    visibility:hidden;
    .push_nav_handler {
        width:100vw;
        height:100vh;
        background-color:rgba(#0F192B,0);
        transition:all .3s;
    }

    .push_nav_container {
        position:absolute;
        top:0;
        right:-70%;
        width:70%;
        height:100vh;
        background-color:white;
        transition:all .3s;

        ul {
            li {
                width:100%;
                padding:rem(10) rem(20);
                border-bottom:rem(1) solid rgba(#0F192B,.08);
                a {
                    font-size:rem(14);
                    font-weight:500;
                    font-family: 'Gilroy-Bold';
                    font-size: rem(14);
                    color:#0F192B;
                    text-decoration: none;
                }

                ul {
                    li {
                        border:0 !important;
                        padding:rem(5) 0;

                        a {
                            color:rgba(#0F192B,.6);
                            &[href] {
                                color:rgba(#0F192B,.8);
                                    text-decoration: underline;
                            }
                        }
                        ul {
                            li {
                                a {
                                    color:rgba(#0F192B,1);
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }

    }



    &_push {
        visibility:visible;
        .push_nav_handler {
            background-color:rgba(#0F192B,.9);
        }
        .push_nav_container {
            right:0;
        }
    }
}