@import '../core/mixins';

.products {
    width:100%;
    height:rem(810);
    background-color:#F1F2F3;
    background-image: url('/img/home/pattern.svg');
    background-repeat:no-repeat;
    background-position: top right;
}
.product_wrapper {
    width:100%;
    padding-top:rem(190);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.product_block {
    width:22%;
}
.title_badge {
    display: inline-flex;
    align-items: center;
    letter-spacing: rem(2.4);
    line-height:rem(24);
    padding-top:rem(2);
    background-color:#0F192B;
    border-radius:rem(30);
    padding:0 rem(20);
    color:white;
    font-size:rem(12);
    font-family: 'Gilroy-Bold';
    margin-bottom:rem(30);
}
.block_title {
    font-family: 'Gilroy-Bold';
    font-size:rem(30);
    margin-bottom:rem(20);
}
.block_text {
    opacity: .7;
}

.product_box {
    width:100%;
    height:100%;
    background-color:white;
    border-top-left-radius:rem(10);
    border-top-right-radius: rem(10);
    border-bottom-left-radius:rem(10);
    border-bottom-right-radius: rem(10);

    .img {
        width:100%;
        overflow: hidden;
    }
    .content {
        padding:rem(40) rem(35);

        h3 {
            font-size:rem(24);
            font-family: 'Gilroy-Bold';
            margin-bottom:rem(20)
        }
        p {
            font-size: rem(14);
            opacity: .7;
        }
        ul {
            margin-top:rem(20);
            li {
                padding:rem(8) 0;
                a {
                    display:flex;
                    color:#E30613;
                    font-family: 'Gilroy-Bold';
                    font-size:rem(14);
                    text-decoration: none;
                }
            }
        }
        
    }
    &_totop {
        position:relative;
        top:rem(-30);
    }
    &_tobottom {
        position:relative;
        top:rem(30);
    }
}



@media (max-width: 991.98px) { 
    .products {
        width:100%;
        height:auto;
    }
    .product_wrapper {
        padding:0 rem(30);
        padding-top:rem(190);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    .product_block {
        width:100%;
        margin-bottom:rem(20);
    }
    .product_box {
    
        &_totop {
            top:0;
        }
        &_tobottom {
            top:0;
        }
    }
}