@import 'core/mixins';

.refs {
    width:100%;
    margin:rem(90) 0;
    display:flex;
    align-items: stretch;
    justify-content: space-between;
}
.content_block {
    padding:rem(50);
    display:flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        font-family: 'Gilroy-Bold';
        font-size:rem(30);
        margin:rem(40) 0 rem(20);
    }
    p {
        opacity:.7;
    }
}
.link_block {
    width:27%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    a {
        width:100%;
        height:calc(50% - 10px);
        overflow: hidden;
        position:relative;
        background-color: #0F192B;
        img {
            height:100%;
            object-fit: cover;
            transition: all .3s;
        }

        span {
            position:absolute;
            font-size:rem(24);
            color:white;
            font-family: 'Gilroy-Bold';
            bottom:rem(30);
            left:rem(30);
        }

        &:hover {
            img {
                height:110%;
                opacity:.7;
            }
        }
    }
}
.big_link {
    width:45%;
    margin-left:rem(20);
    overflow: hidden;
    position: relative;
    background-color: #0F192B;
    img {
        width:100%;
        height:100%;
        object-fit: cover;
        transition: all .3s;
    }
     span {
            position:absolute;
            font-size:rem(24);
            color:white;
            font-family: 'Gilroy-Bold';
            bottom:rem(30);
            right:rem(30);
        }
    &:hover {
            img {
                height:110%;
                opacity:.7;
            }
        }
}
.title_badge {
    max-width:rem(140);
    display: inline-flex;
    align-items: center;
    letter-spacing: rem(2.4);
    line-height:rem(24);
    padding-top:rem(2);
    background-color:#0F192B;
    border-radius:rem(30);
    padding:0 rem(20);
    color:white;
    font-size:rem(12);
    font-family: 'Gilroy-Bold';
}