@import '../core/mixins';

.hero {
  width:100vw;
  height:100vh;
  position:relative;
}
.number_slide {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .content_block {
    width:100vw;
    height:100vh;
    position:absolute;
    left:0;
    top:0;
    display:flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom:rem(200);
    z-index:3;
  }
}

.generic {
  font-family: 'Gilroy-Bold';
  color: white;
  font-size: rem(45);
  span {
    display: block;
    font-size: rem(48);
    font-family: 'Gilroy-Black';
    text-decoration: underline;
  }
}

.ghost_button {
  margin-top:rem(30);
  border:rem(1) solid white;
  border-radius:rem(50);
  height:rem(50);
  color:white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-weight:400;
  text-decoration: none;
  font-size:rem(14);
  padding:0 rem(30);
}

.dots {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:rem(30);
  display: flex;
  flex-direction: column;
  
}

.slider_img {
  width:100%;
}

.dot {
  border:0;
  width: rem(6);
  height: rem(12);
  background: rgba(white,.5);
  border-radius: 50%;
  margin-bottom:rem(5);
  cursor: pointer;
  transition:all .2s;
}

.dot:focus {
  outline: none;
}

.dot.active {
  height:rem(22);
  border-radius:rem(30);
  background-color:#F79A42;
}

.video {
    width:100vw;
    min-width: 100vw;
    min-height: 100vh;
}

@media (max-width: 991.98px) { 
    .slider_img {
        position:absolute;
        width:auto;
        height:100%;
        object-fit: cover;
        top:0;
        left:0;
    }
    .number_slide {
      .content_block {
        align-items: center;
        justify-content: center;
        padding-bottom:0;
        padding-top:rem(100);
      }
    }
    .generic {
      font-size: rem(25);
      text-align: center;
      span {
        font-size: rem(28);
      }
    }
    .ghost_button {
      position:relative;
      left:50%;
      transform:translateX(-50%);
    }
    .dots {
      top:initial;
      right:initial;
      transform:translateX(-50%);
      left:50%;
      bottom:rem(150);
      flex-direction: row;
    }
    .dot {
      margin-bottom:0;
      margin-right:rem(5);
    }

    .dot.active {
      height:rem(12);
      width:rem(22);
    }
}