@import '../core/mixins';

.social_media_links {
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    z-index:9;
    padding:rem(30) 0 rem(50);
}
.links {
    display:flex;
    align-items: center;
    a {
        height:rem(30);
        margin-right:rem(30);
        display:flex;
        align-items: center;
        justify-content: center;
        color:white;
        text-decoration: none;
        position:relative;
        span {
            position:absolute;
            left:50%;
            transform:translateX(-50%);
            bottom:rem(-10);
            font-size:rem(8);
        }
    }
}

@media (max-width: 991.98px) { 
   
    .social_media_links {
        width:auto;
        left:50%;
        transform:translateX(-50%);
    }
}