@import 'core/mixins';
.testimonials {
    width:100%;
    height:rem(500);
    position:relative;
    &:before {
        content:"";
        position:absolute;
        left:0;
        top:0;
        border-top-right-radius: rem(50);
        width:80%;
        height:100%;
        background-color:#014598;
        z-index:2;
    } 
}

.testimonials_wrapper {
    width:100%;
    display:flex;
    align-items:stretch;
    position: relative;
    z-index:3;
}
.testimonials_content {
    width:70%;
    padding-top:rem(140);
    display:flex;
    flex-direction:column;
    position:relative;
}
.testimonials_view {
   width:100%;
   height:100%;
    h4 {
        font-size:rem(30);
        font-family: 'Gilroy-Bold';
        color:white;
    }
    h5 {
        font-size:rem(16);
        font-family: 'Gilroy-Bold';
        color:white;
    }
    p {
        color:white;
        font-size:rem(16);
        opacity:.8;
        max-width:75%;
        padding:rem(35) 0 rem(30);
    }
    a {
        color:white;
    }
}
.testimonials_image {
    width:30%;
    img {
        width:100%;
        position:relative;
        top:rem(80);
    }
}
.title_badge {
    display: inline-flex;
    align-items: center;
    background-color:#0F192B;
    border-radius:rem(30);
    padding:0 rem(20);
    color:white;
    font-size:rem(12);
    letter-spacing: rem(2.4);
    line-height:rem(24);
    padding-top:rem(2);
    font-family: 'Gilroy-Bold';
    position:absolute;
    top:rem(80);
}

.dots {
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
  position:absolute;
  bottom:rem(-55);
  padding-right:rem(20);
  color:#777B86;
  font-size:rem(12)
  
}

.dots_container {
    display: flex;
    margin-left:rem(20);
}

.dot {
  border:0;
  width: rem(6);
  height: rem(6);
  background: rgba(#777B86,.3);
  border-radius: 50%;
  cursor: pointer;
  transition:all .2s;
  margin-left:rem(3);
}

.dot:focus {
  outline: none;
}

.dot.active {
  width:rem(22);
  border-radius:rem(30);
  background-color:#F79A42;
}

@media (max-width: 991.98px) { 

    .title_badge {
    
        top:rem(30);
        left:rem(20);
    }
    .testimonials {
        width:100%;
        height:auto;
        &:before {
            width:100%;
        } 
    }
    .testimonials_image {
        display:none;
    }
    .testimonials_wrapper {
        align-items:flex-start;
    }
    .testimonials_content {
        width:100%;
        padding-top:rem(100);
        padding-left:rem(20);
        padding-right:rem(20);
        padding-bottom:rem(40);
        display:flex;
        flex-direction:column;
        position:relative;
    }
    .testimonials_view {
        width:100%;
        height:100%;
            p {
                font-size:rem(14);
            }
        }
        .dots {
  
        justify-content: flex-start;
        bottom:rem(-35);
        }
}