.subpage_header {
    width: 100%;
    position:relative;
    img {
        width:100%;
        object-fit: cover;
    }
    .header_content {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:3;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
    }

    h1 {
        font-family: 'Gilroy-Bold';
        color:white;
        font-size:rem(48);
    }
    .breadcrumb {
        display:flex;
        align-items:center;
        a {
            color:white;
            font-size:rem(14);
            text-decoration: none;
            &:not(:last-child) {
                &:after {
                    content:'/';
                    margin:0 rem(5);
                }
            }
            
        }
    }
}

@media (max-width: 991.98px) { 

.subpage_header {
    height:rem(450);
    img {
        height:100%;
    }
}
}